body.theme-dark,
body.theme-dark.is-mobile {
  --color-base-00: #131720;
  --color-base-10: #202b31;
  --color-base-20: var(--color-base-00);
  --color-base-30: #181a1f;
  --color-base-35: #1d1f25;
  --color-base-40: #282b33;
  --color-base-100: #dcd8cb;

  --color-red: #cb7676;
  --color-red-rgb: 203, 118, 118;
  --color-orange: #dd8e6e;
  --color-orange-rgb: 221, 142, 110;
  --color-yellow: #e6cc77;
  --color-yellow-rgb: 230, 204, 119;
  --color-green: #4d9375;
  --color-green-rgb: 77, 147, 117;
  --color-cyan: #5eaab5;
  --color-cyan-rgb: 94, 170, 181;
  --color-blue: #6394bf;
  --color-blue-rgb: 99, 148, 191;
  --color-purple: #d9739f;
  --color-purple-rgb: 217, 115, 159;
  --color-pink: #db889a;
  --color-pink-rgb: 219, 136, 154;
  --color-gray: #858585;
  --color-gray-rgb: 133, 133, 133;

  --background-modifier-border: var(--divider-color);
  --background-modifier-form-field: var(--color-base-30);
  --background-modifier-message: var(--color-base-40);
  --background-modifier-hover: rgb(77 92 128 / 20%);

  --h3-color: var(--background-primary);
  --h4-color: var(--color-orange);
  --h5-color: var(--color-orange);
  --h6-color: var(--color-orange);

  --h3-bg: var(--color-orange);

  --italic-color: hsl(var(--color-accent-hsl));
  --strike-color: var(--color-red);

  --text-selection: rgb(77 92 128 / 40%);
  --text-highlight-bg: rgb(77 147 117 / 35%);

  --titlebar-background-focused: var(--background-primary);
  --interactive-normal: var(--color-base-30);
  --divider-color: #2b2e37;
  --indentation-guide-color: #1e222c;
  --shadow-s: 0px 4px 15px rgb(0 0 0 / 15%);

  --media-bg: #070709;
  --nav-file-tag-color-active: rgb(255 255 255 / 50%);
  --nav-file-tag-color: rgb(255 255 255 / 30%);

  --table-header-color: rgb(255 255 255 / 42%);
  --table-header-bg: rgb(0 0 0 / 10%);

  --code-background: #181a1f;
  --code-border-color: color-mix(in oklab, var(--color-orange) 60%, black);
  --code-icon-color: var(--color-base-50);
  --code-normal: var(--color-orange);

  --canvas-dot-pattern: rgb(255 255 255 / 20%);

  * {
    scrollbar-color: #222 transparent;
  }
}
