@use "one-dark";

.theme-dark,
.theme-dark.is-mobile {
  --color-gray: var(--color-gray-400);
  --color-gray-rgb: 161, 161, 161;

  --color-red: var(--color-red-500);
  --color-red-rgb: 215, 92, 96;
  --color-green: var(--color-green-400);
  --color-green-rgb: 77, 186, 137;
  --color-yellow: var(--color-yellow-300);
  --color-yellow-rgb: 222, 195, 109;
  --color-blue: var(--color-blue-500);
  --color-blue-rgb: 67, 166, 238;
  --color-purple: var(--color-magenta-500);
  --color-purple-rgb: 190, 120, 212;
  --color-cyan: var(--color-cyan-500);
  --color-cyan-rgb: 24, 182, 194;

  --color-orange: var(--color-orange-500);
  --color-orange-rgb: 224, 155, 90;
  --color-pink: var(--color-pink-400);
  --color-pink-rgb: 220, 150, 213;

  --shadow-s: 0px 4px 15px rgb(0 0 0 / 15%);
  --table-header-color: var(--h3-color);
}
