:root {
  --ui-foreground-1: #cfdae6; // Bright
  --ui-foreground-2: #b9c3cd; // Normal
  --ui-foreground-3: var(--color-gray-500); // Muted
  --ui-foreground-4: var(--color-gray-800); // Faint

  --ui-background-1: #060606; // Primary
  --ui-background-2: #0c1018; // Secondary
  --ui-background-3: #191923; // Tertiary
  --ui-background-4: #214283; // Selection
  --ui-background-5: #1a3469; // Highlight

  --ui-border-1: #636669; // Indent
  --ui-border-2: #393b40; // Indent Active
  --ui-border-3: var(--color-gray-900); // Primary
  --ui-border-4: var(--color-gray-950); // Secondary

  --color-gray-50: #f5f5f5;
  --color-gray-100: #ededed;
  --color-gray-200: #d9d9d9;
  --color-gray-300: #bfbfbf;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #808080; // Base
  --color-gray-500-rgb: 128, 128, 128;
  --color-gray-600: #737373;
  --color-gray-700: #666;
  --color-gray-800: #545454;
  --color-gray-900: #383838;
  --color-gray-950: #262626;

  --color-red-50: #fff5f5;
  --color-red-100: #ffebeb;
  --color-red-200: #ffd6d6;
  --color-red-300: #ffbdbd;
  --color-red-400: #ff9e9e;
  --color-red-500: #ff7373; // Base
  --color-red-500-rgb: 255, 115, 115;
  --color-red-600: #ff5252;
  --color-red-700: #f00;
  --color-red-800: #d60000;
  --color-red-900: #900;
  --color-red-950: #6b0000;

  --color-green-50: #f4fbf6;
  --color-green-100: #ecf8f0;
  --color-green-200: #d2efdc;
  --color-green-300: #bce7cb;
  --color-green-400: #9edcb3;
  --color-green-500: #80d19d; // Base
  --color-green-500-rgb: 128, 209, 157;
  --color-green-600: #57c27c;
  --color-green-700: #3eac65;
  --color-green-800: #348e53;
  --color-green-900: #26693d;
  --color-green-950: #1a472a;

  --color-yellow-50: #fff9f0;
  --color-yellow-100: #fff5e5;
  --color-yellow-200: #ffebcc;
  --color-yellow-300: #ffe0ad;
  --color-yellow-400: #ffd694;
  --color-yellow-500: #ffc86e; // Base
  --color-yellow-500-rgb: 255, 200, 110;
  --color-yellow-600: #ffad29;
  --color-yellow-700: #eb9100;
  --color-yellow-800: #c27800;
  --color-yellow-900: #8f5800;
  --color-yellow-950: #613c00;

  --color-blue-50: #f5faff;
  --color-blue-100: #e5f2ff;
  --color-blue-200: #cce6ff;
  --color-blue-300: #add6ff;
  --color-blue-400: #8ac4ff;
  --color-blue-500: #61afff; // Base
  --color-blue-500-rgb: 97, 175, 255;
  --color-blue-600: #389cff;
  --color-blue-700: #0a85ff;
  --color-blue-800: #006edb;
  --color-blue-900: #004f9e;
  --color-blue-950: #003870;

  --color-magenta-50: #fdf6fe;
  --color-magenta-100: #faecfd;
  --color-magenta-200: #f5d9fc;
  --color-magenta-300: #efc2fa;
  --color-magenta-400: #eaabf8;
  --color-magenta-500: #e18cf5; // Base
  --color-magenta-500-rgb: 225, 140, 245;
  --color-magenta-600: #da6ef2;
  --color-magenta-700: #d24def;
  --color-magenta-800: #bf14e6;
  --color-magenta-900: #850ea0;
  --color-magenta-950: #620a75;

  --color-cyan-50: #edfafd;
  --color-cyan-100: #daf6fb;
  --color-cyan-200: #b5ecf7;
  --color-cyan-300: #87e1f2;
  --color-cyan-400: #4bd1ec;
  --color-cyan-500: #17bbdd; // Base
  --color-cyan-500-rgb: 23, 187, 221;
  --color-cyan-600: #15a9c7;
  --color-cyan-700: #1295af;
  --color-cyan-800: #0f7a8f;
  --color-cyan-900: #0b5666;
  --color-cyan-950: #083f4a;

  --color-orange-50: #fff8f5;
  --color-orange-100: #ffeee6;
  --color-orange-200: #feddcd;
  --color-orange-300: #fdc9af;
  --color-orange-400: #fdb28c;
  --color-orange-500: #fc9867; // Base
  --color-orange-500-rgb: 252, 152, 103;
  --color-orange-600: #fb7c3c;
  --color-orange-700: #f55505;
  --color-orange-800: #d24904;
  --color-orange-900: #963403;
  --color-orange-950: #642302;

  --color-pink-50: #fcf7fc;
  --color-pink-100: #f9ecf7;
  --color-pink-200: #f4ddf1;
  --color-pink-300: #edc9ea;
  --color-pink-400: #e4afdf;
  --color-pink-500: #dc96d5; // Base
  --color-pink-500-rgb: 220, 150, 213;
  --color-pink-600: #d47dcb;
  --color-pink-700: #cb62c0;
  --color-pink-800: #bb3eaf;
  --color-pink-900: #822b79;
  --color-pink-950: #5c1f56;
}

.theme-dark,
.theme-dark.is-mobile {
  --color-gray: var(--color-gray-500);
  --color-gray-rgb: var(--color-gray-500-rgb);
  --color-red: var(--color-red-500);
  --color-red-rgb: var(--color-red-500-rgb);
  --color-green: var(--color-green-500);
  --color-green-rgb: var(--color-green-500-rgb);
  --color-yellow: var(--color-yellow-500);
  --color-yellow-rgb: var(--color-yellow-500-rgb);
  --color-blue: var(--color-blue-500);
  --color-blue-rgb: var(--color-blue-500-rgb);
  --color-purple: var(--color-magenta-500);
  --color-purple-rgb: var(--color-magenta-500-rgb);
  --color-cyan: var(--color-cyan-500);
  --color-cyan-rgb: var(--color-cyan-500-rgb);
  --color-orange: var(--color-orange-500);
  --color-orange-rgb: var(--color-orange-500-rgb);
  --color-pink: var(--color-pink-500);
  --color-pink-rgb: var(--color-pink-500-rgb);

  --border-color: var(--indentation-guide-color, var(--nav-indentation-guide-width));
  --table-header-color: var(--color-accent-2);

  --shadow-s: 0px 4px 15px rgb(0 0 0 / 15%);
}
