.theme-dark,
.theme-dark.is-mobile {
  --color-blue: #6394bf;
  --color-blue-rgb: 99, 148, 191;
  --color-cyan: #5eaab5;
  --color-cyan-rgb: 94, 170, 181;
  --color-gray: #858585;
  --color-gray-rgb: 133, 133, 133;
  --color-green: #64b492;
  --color-green-rgb: 95, 158, 131;
  --color-orange: #d19a66;
  --color-orange-rgb: 209, 154, 102;
  --color-pink: #db889a;
  --color-pink-rgb: 219, 136, 154;
  --color-purple: #c181d5;
  --color-purple-rgb: 198, 120, 221;
  --color-red: #e06c75;
  --color-red-rgb: 203, 118, 118;
  --color-yellow: #e5c07b;
  --color-yellow-rgb: 229, 192, 123;

  --shadow-s: 0px 4px 15px rgb(0 0 0 / 15%);
}
