.callout {
  --callout-border-color: rgba(var(--callout-color), 0.3);
  --callout-padding: var(--callout-spacer-y) var(--callout-spacer-x) 0;
  --callout-spacer-x: calc(var(--p-spacing) * 0.9);
  --callout-spacer-y: calc(var(--p-spacing) * 0.75);
  --callout-title-size: var(--font-smaller);
  --checkbox-border-color-hover: var(--checkbox-color);
  --checkbox-border-color: var(--checkbox-color);
  --checkbox-color-hover: var(--checkbox-color);
  --checkbox-color: rgb(var(--callout-color));
  --code-border-color: rgb(var(--callout-color), 0.3);
  --code-normal: color-mix(in oklab, rgb(var(--callout-color)) 60%, white);
  --indentation-guide-color: rgba(var(--callout-color), 0.1);
  --link-color-hover: color-mix(in oklab, rgb(var(--callout-color)) 50%, white);
  --link-color: color-mix(in oklab, rgb(var(--callout-color)) 70%, white);
  --link-external-color-hover: var(--link-color-hover);
  --link-external-color: var(--link-color);
  --link-unresolved-color-hover: var(--link-color-hover);
  --link-unresolved-color: var(--link-color);
  --list-marker-color: rgb(var(--callout-color));
  --text-selection: rgba(var(--callout-color), 0.3);

  &[data-callout="attention"] {
    --callout-color: var(--color-red-rgb);
  }

  &[data-callout="missing"] {
    --callout-color: var(--color-orange-rgb);
  }
}

.callout {
  position: relative;
  background-color: var(--background-primary);
  border: 1px solid var(--callout-border-color);
  box-shadow: var(--shadow-s);
  mix-blend-mode: normal;
}

// Isolate background for consistent mix blending
body:not(.callouts-outlined) .callout::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(var(--callout-color), 0.1);
  mix-blend-mode: hard-light;
}

.markdown-source-view.mod-cm6 .cm-callout .edit-block-button {
  inset-inline-end: 6px;
  top: 6px;
  background-color: transparent;
  opacity: 0.6;

  svg.svg-icon {
    width: var(--icon-s);
    height: var(--icon-s);
  }
}

.callout,
.callout-content .callout {
  margin-block: var(--callout-spacer-y);
}

.callout-title {
  position: relative;
  text-transform: uppercase;

  .callout-icon {
    margin-inline-end: var(--size-4-1);
  }
}

.callout.is-collapsed,
.callout:not(:has(.callout-content)) {
  .callout-title {
    margin-block-end: var(--callout-spacer-y);
  }
}

.callout-content {
  position: relative;
  z-index: 1;
  overflow: visible;

  > :first-child:not(p) {
    margin-block-start: var(--callout-spacer-y);
  }

  > p:first-child {
    margin-block-start: calc(var(--callout-spacer-y) * 0.75);
  }

  > :last-child:not(.callout) {
    margin-block-end: var(--callout-spacer-y) !important;
  }
}

// Support for minimal theme outlined callouts
.callouts-outlined .callout {
  .callout-title {
    margin-top: calc(var(--callout-spacer-y) * -1.65);
    margin-left: calc(var(--callout-spacer-x) * -0.3);
    letter-spacing: 0;
  }

  .callout-fold {
    padding-inline: 0;
  }
}

.callouts-outlined .markdown-source-view.mod-cm6 .cm-callout .edit-block-button {
  top: 0;
  background-color: var(--background-primary);
}

// Additional callout style variants
@each $color in red, orange, yellow, green, cyan, blue, purple, pink, gray {
  .callout[data-callout="#{'' + $color}"],
  .callout[data-callout="#{'' + $color}-small"] {
    --callout-color: var(--color-#{$color}-rgb);
  }

  .callout[data-callout="#{'' + $color}-small"] {
    .callout-content > :first-child {
      margin-block-start: 0;
    }
  }

  .callout[data-callout="#{'' + $color}"] .callout-icon,
  .callout[data-callout="#{'' + $color}-small"] .callout-title {
    display: none;
  }
}
