.canvas-wrapper {
  --zoom-multiplier: 1 !important;
}

.canvas-node {
  --shadow-border-themed-inset: inset 0 0 0 0 rgb(var(--canvas-color));
  --shadow-border-themed: 0 0 0 1px rgb(var(--canvas-color));
}

:is(.canvas-node, .canvas-node.is-themed) .canvas-node-container {
  border-color: rgba(var(--canvas-color), 0.6);
  border-width: 1px;
  box-shadow: unset;
}

.canvas-node.is-themed .canvas-node-content {
  background-color: transparent;

  &::before {
    position: absolute;
    inset: 0;
    content: "";
    background-color: rgba(var(--canvas-color), 0.1);
    mix-blend-mode: hard-light;
  }

  .markdown-embed-content {
    position: relative;
    z-index: 1;
  }
}

.canvas-node.is-themed code:not(pre code) {
  color: var(--canvas-white-50);
  outline: 1px solid rgb(var(--canvas-color), 0.5);
  background-color: unset;
}

.canvas-group-label {
  left: 50%;
  font-size: var(--font-text-size);
  transform: translate(-50%, -100%);
}

.canvas-node-group.is-themed .canvas-group-label:not([contenteditable="true"]) {
  background-color: rgb(var(--canvas-color), 60%);
}

.canvas-path-label {
  font-size: var(--font-ui-medium);
}

.canvas-edges path.canvas-display-path {
  stroke-width: 1.5px;
}
