.canvas-wrapper {
  --zoom-multiplier: 1 !important;
}

.canvas-node.is-themed {
  --code-border-color: rgb(var(--canvas-color), 0.5);
  --code-normal: color-mix(in oklab, rgb(var(--canvas-color)) 60%, white);
}

.canvas-group-label {
  font-size: var(--font-ui-small);
  font-weight: var(--font-bold);
}

.canvas-path-label {
  font-size: var(--font-ui-small);
}

.canvas-node-content.markdown-embed {
  .markdown-preview-view {
    scrollbar-gutter: auto;
  }

  &:not(.is-loaded) {
    text-align: center;
  }

  .markdown-embed-content > .markdown-preview-view {
    padding: 0;
  }
}
