body.obsidian-app {
  --code-border-width: 1px;
  --code-spacer-x: calc(var(--p-spacing) * 0.9);
  --code-spacer-y: calc(var(--p-spacing) * 0.75);
  --code-spacer-offset: calc(var(--code-spacer-x) - var(--code-spacer-y));
}

.markdown-rendered {
  code {
    background-color: transparent;
  }

  pre {
    padding: var(--code-spacer-y) var(--code-spacer-x);
    box-shadow: var(--shadow-s);
  }
}

.markdown-rendered {
  code,
  pre {
    white-space: pre;
  }
}

.HyperMD-codeblock,
.markdown-rendered pre code {
  line-height: 1.9;
}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
  padding-inline-start: var(--code-spacer-x);
}

.markdown-rendered button.copy-code-button {
  display: inline-block !important;
  margin: var(--size-4-2);
  margin-inline-end: calc(var(--size-4-2) - var(--code-spacer-offset));
  background-color: transparent !important;
  opacity: 0.1;
  transition: opacity 0.1s linear;

  svg.svg-icon {
    width: var(--icon-s);
    height: var(--icon-s);
  }

  &:hover,
  &:has(.lucide-check) {
    opacity: 1;
  }
}

.markdown-source-view.mod-cm6 .code-block-flair:has(.lucide-copy) {
  display: none;
}
