body.obsidian-app {
  --code-border-color: var(--background-modifier-border);
  --code-border-width: 1px;
  --code-function: var(--color-blue);
  --code-keyword: var(--color-purple);
  --code-spacer-x: calc(var(--p-spacing) * 0.9);
  --code-spacer-y: calc(var(--p-spacing) * 0.75);
}

.markdown-rendered {
  code {
    background-color: transparent;
  }

  pre {
    padding: var(--code-spacer-y) var(--code-spacer-x);
    box-shadow: var(--shadow-s);
  }
}

.markdown-rendered {
  code,
  pre {
    white-space: pre;
  }
}

.HyperMD-codeblock,
.markdown-rendered pre {
  --code-border-color: color-mix(in oklab, var(--code-background) 90%, white);
}

.HyperMD-codeblock,
.markdown-rendered pre code {
  line-height: 1.9;
}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
  padding-inline-start: var(--code-spacer-x);
}
