body.obsidian-app {
  --code-border-color: var(--divider-color);
  --code-border-width: 1px;
  --code-function: var(--color-blue);
  --code-keyword: var(--color-purple);
  --code-spacer-x: calc(var(--p-spacing) * 0.9);
  --code-spacer-y: calc(var(--p-spacing) * 0.75);
}

.token.atrule {
  color: var(--color-cyan);
}

.markdown-rendered {
  code {
    background-color: transparent;
  }

  pre {
    padding: var(--code-spacer-y) var(--code-spacer-x);
    box-shadow: var(--shadow-s);
  }
}

.markdown-rendered {
  code,
  pre {
    white-space: pre;
  }
}

.HyperMD-codeblock,
.markdown-rendered pre {
  --code-border-color: color-mix(in oklab, var(--code-background) 90%, white);
}

.HyperMD-codeblock,
.markdown-rendered pre code {
  line-height: 1.9;
}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
  padding-inline-start: var(--code-spacer-x);
}

button.copy-code-button {
  display: inline-block !important;
  background-color: transparent !important;
  opacity: 0.6;
  transition: opacity 0.1s linear;

  svg.svg-icon {
    width: var(--icon-s);
    height: var(--icon-s);
  }

  &:hover,
  &:has(.lucide-check) {
    opacity: 1;
  }
}
