body.obsidian-app {
  --nested-padding: var(--p-spacing);
}

.markdown-preview-view .markdown-embed {
  padding-inline-end: 0;
}

.embed-title {
  padding-block-end: var(--p-spacing);
}

.file-embed {
  background-color: transparent;
  border: 1px solid var(--divider-color);
  border-radius: var(--radius-s);

  &.mod-generic,
  &.mod-empty {
    padding: var(--size-4-2) var(--size-4-3);
    font-size: var(--font-adaptive-normal);
  }
}

.file-embed-title {
  justify-content: flex-start;
}

.pdf-embed {
  box-shadow: var(--shadow-s);
}

.internal-query {
  .internal-query-header {
    padding-block: var(--size-4-3);
  }

  .search-result-container {
    padding: var(--size-4-2) var(--size-4-4);
  }
}

:is(img, audio, video, iframe) {
  border-radius: var(--image-radius);
  box-shadow: var(--shadow-s);
}

iframe:not(.external-embed) {
  width: 100%;
  aspect-ratio: 12/16;
}

iframe[src^="https://www.youtube.com/"],
iframe[src^="https:/youtube.com/"] {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
