body.obsidian-app {
  --table-add-button-border-color: var(--table-border-color);
  --table-cell-padding: var(--table-spacer-y) var(--table-spacer-x);
  --table-numbers-padding-right: 0;
  --table-spacer-x: var(--size-4-3);
  --table-spacer-y: var(--size-4-2);
}

.markdown-preview-view,
.markdown-source-view.mod-cm6 {
  table {
    overflow: hidden;

    thead {
      background-image: linear-gradient(
        45deg,
        var(--background-modifier-border) 4.55%,
        var(--background-primary) 4.55%,
        var(--background-primary) 50%,
        var(--background-modifier-border) 50%,
        var(--background-modifier-border) 54.55%,
        var(--background-primary) 54.55%,
        var(--background-primary) 100%
      );
      background-size: 15.56px 15.56px;
    }

    :is(td, th) {
      border: 0;
    }

    // Automatically collapse columns that contain inline code
    :is(thead > tr > th, tbody > tr > td):has(code) {
      width: 0;
    }

    :is(code:not(pre code), .cm-inline-code) {
      white-space: nowrap;
    }
  }
}

.markdown-preview-view :is(td, th):first-child,
.markdown-preview-view :is(td, th):first-child .table-cell-wrapper,
.markdown-source-view.mod-cm6 :is(td, th):first-child {
  padding-inline-start: var(--table-spacer-x);
}

.markdown-preview-view :is(td, th):last-child,
.markdown-source-view.mod-cm6 :is(td, th):last-child {
  padding-inline-end: var(--table-spacer-x);
}

.markdown-source-view.mod-cm6 .cm-content > [contenteditable="false"] {
  contain: unset !important;
  overflow: visible;
}

.markdown-source-view.mod-cm6 .cm-table-widget {
  .table-row-btn {
    border-inline: 0;
  }

  .table-col-btn {
    border-block: 0;
  }
}

// Support for minimal theme wide table
.table-wide {
  --table-wrapper-width: calc(100% + var(--table-drag-padding));

  .el-table {
    padding: 0 !important;
  }

  .cm-embed-block.cm-table-widget.markdown-rendered {
    padding-block-start: 0;
    padding-inline-start: 0 !important;
  }
}

body.obsidian-app {
  // --table-drag-padding: 0;
}

// Support for minimal theme table lines
.table-lines {
  .markdown-preview-view table,
  .markdown-source-view.mod-cm6 table {
    border-spacing: 0;
    border-collapse: separate !important;
    border: 1px solid var(--table-border-color) !important;
    border-radius: var(--radius-s);
  }
}

.table-lines,
.row-lines {
  .markdown-preview-view table > tbody > tr > td,
  .markdown-source-view.mod-cm6 table > tbody > tr > td {
    border-top: 1px solid var(--table-border-color);
  }
}

.table-lines,
.col-lines {
  .markdown-preview-view table :is(td, th):not(:last-child),
  .markdown-source-view.mod-cm6 table :is(td, th):not(:last-child) {
    border-right: 1px solid var(--table-border-color);
  }
}
