body.obsidian-app {
  --font-adaptive-normal: 14px;
  --font-small: 12.5px;
  --font-smaller: 12px;
  --font-smallest: 11.5px;
  --inline-title-margin-bottom: var(--heading-spacing);
  --line-height-tight: var(--line-height-normal);
}

::selection {
  color: #fff;
}

::spelling-error {
  text-decoration: wavy var(--color-red) underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2.5px;
}

.h1-l .markdown-reading-view h1,
.h1-l .mod-cm6 .cm-editor .HyperMD-header-1,
.h2-l .markdown-reading-view h2,
.h2-l .mod-cm6 .cm-editor .HyperMD-header-2,
.h3-l .markdown-reading-view h3,
.h3-l .mod-cm6 .cm-editor .HyperMD-header-3,
.h4-l .markdown-reading-view h4,
.h4-l .mod-cm6 .cm-editor .HyperMD-header-4,
.h5-l .markdown-reading-view h5,
.h5-l .mod-cm6 .cm-editor .HyperMD-header-5,
.h6-l .markdown-reading-view h6,
.h6-l .mod-cm6 .cm-editor .HyperMD-header-6 {
  padding-bottom: initial;
  margin-block-start: calc(var(--heading-spacing) * 0.5) !important;
  border-bottom: none;

  &::before {
    --zig-zag: repeat-x
      conic-gradient(from calc(145deg / -2) at bottom, #0000, #000 1deg calc(145deg - 1deg), #0000 145deg);

    display: block;
    height: calc(1.5px + 15px / (2 * tan(145deg / 2)));
    margin-bottom: calc(var(--heading-spacing) * 0.75);
    content: "";
    background: var(--divider-color);
    mask:
      50% calc(-1 * 1.5px) / 15px var(--zig-zag) exclude,
      50% / 15px var(--zig-zag);
  }
}

.h1-l .markdown-reading-view h1,
.h2-l .markdown-reading-view h2,
.h3-l .markdown-reading-view h3,
.h4-l .markdown-reading-view h4,
.h5-l .markdown-reading-view h5,
.h6-l .markdown-reading-view h6 {
  margin-block: calc(var(--heading-spacing) * 1.75) var(--p-spacing) !important;
}

.external-link {
  padding-inline-end: 1em;
}

del {
  color: var(--color-red);
}
