body.obsidian-app {
  --code-function: var(--color-blue);
  --code-important: var(--color-purple);
  --code-keyword: var(--color-purple);
  --code-operator: var(--code-normal);
  --code-property: var(--color-blue);
  --code-punctuation: var(--code-normal);
  --code-value: var(--color-cyan);
}

.token {
  &.attr-name {
    color: var(--code-normal);
  }

  &.attr-value {
    color: var(--color-green);
  }

  &.comment {
    font-style: italic;
  }

  &.important {
    font-weight: var(--font-normal);
  }

  &.selector {
    color: var(--color-blue);
  }
}

code {
  &:is(.language-css, .language-scss) {
    --code-function: var(--color-yellow);
    --code-property: var(--code-normal);
  }

  &:is(.language-json) {
    --code-important: var(--color-yellow);
    --code-property: var(--code-normal);
  }

  &:is(.language-ini) {
    --code-function: var(--color-green);
    --code-string: var(--code-normal);
  }

  &:is(.language-twig) .token.tag .token.twig {
    color: var(--color-blue);
  }

  &:is(.language-yaml) {
    --code-function: var(--code-normal);

    color: var(--color-green);
  }
}
