@mixin zig-zag($color: var(--divider-color), $thickness: 1.5px, $spread: 15px, $angle: 145deg) {
  $bg: repeat-x
    conic-gradient(from calc(#{$angle} / -2) at bottom, #0000, #000 1deg calc(#{$angle} - 1deg), #0000 #{$angle});

  display: block;
  height: calc(#{$thickness} + #{$spread} / (2 * tan(#{$angle} / 2)));
  content: "";
  background: #{$color};
  mask:
    50% calc(-1 * #{$thickness}) / #{$spread} #{$bg} exclude,
    50% / #{$spread} #{$bg};
}
