@use "../abstract/mixin" as *;

body.obsidian-app {
  --font-small: calc(var(--font-text-size) - 1px);
  --font-smaller: calc(var(--font-small) - 1px);
  --font-smallest: calc(var(--font-smaller) - 1px);

  --inline-title-margin-bottom: 2rem;
  --line-height-normal: 2;
  --line-height-tight: 1.8;
  --line-height-tighter: 1.6;

  --h1-font: var(--font-1);
  --h2-font: var(--h1-font);
  --h3-font: var(--h1-font);
  --h4-font: var(--h1-font);
  --h5-font: var(--h1-font);
  --h6-font: var(--h1-font);
  --h1-weight: var(--font-normal);
  --h2-weight: var(--h1-weight);
  --h3-weight: var(--h1-weight);
  --h4-weight: var(--h1-weight);
  --h5-weight: var(--h1-weight);
  --h6-weight: var(--h1-weight);
  --h1-size: 2.2em;
  --h2-size: 1.8em;
  --h3-size: 1.6em;
  --h4-size: 1.35em;
  --h5-size: 1.25em;
  --h6-size: 1.2em;
  --h1-line-height: 1.5;
  --h2-line-height: 1.5;
  --h3-line-height: 1.6;
  --h4-line-height: 1.7;
  --h5-line-height: 1.8;
  --h6-line-height: 2;

  --indent-unit: 0.8em;

  --checklist-done-color: initial;
  --checklist-done-decoration: none;

  --blockquote-border-thickness: 3px;
}

body.obsidian-app.is-mobile {
  --line-height-normal: var(--line-height-tight);
}

.markdown-rendered {
  --heading-spacing: var(--size-4-6);
  --p-spacing: var(--size-4-4);
}

body.obsidian-app .inline-title {
  margin-block-end: var(--size-4-10);
}

.inline-title,
h1,
.markdown-rendered h1,
.HyperMD-header-1,
h2,
.markdown-rendered h2,
.HyperMD-header-2,
h3,
.markdown-rendered h3,
.HyperMD-header-3,
h4,
.markdown-rendered h4,
.HyperMD-header-4,
h5,
.markdown-rendered h5,
.HyperMD-header-5,
h6,
.markdown-rendered h6,
.HyperMD-header-6 {
  letter-spacing: 0 !important;
}

.inline-title,
h1,
.markdown-rendered h1,
.HyperMD-header-1 {
  font-variation-settings: "wght" 600;
}

h2,
.markdown-rendered h2,
.HyperMD-header-2 {
  font-variation-settings: "wght" 600;
}

h3,
.markdown-rendered h3,
.HyperMD-header-3 {
  font-variation-settings: "wght" 575;
}

h4,
.markdown-rendered h4,
.HyperMD-header-4 {
  font-variation-settings: "wght" 550;
}

h5,
.markdown-rendered h5,
.HyperMD-header-5 {
  font-variation-settings: "wght" 525;
}

h6,
.markdown-rendered h6,
.HyperMD-header-6 {
  font-variation-settings: "wght" 525;
}

h3,
h4,
h5,
h6 {
  &,
  .markdown-rendered & {
    margin-top: var(--heading-spacing) !important;
  }
}

h2,
.markdown-rendered h2,
.HyperMD-header-2 {
  padding-top: 0 !important;
  margin-top: var(--size-4-10) !important;

  &::before {
    @include zig-zag;

    margin-bottom: var(--size-4-3);
  }
}

h3,
.markdown-rendered h3,
.HyperMD-header-3 {
  position: relative;
  display: table !important;
  padding: 0 0.2em !important;
  color: var(--background-primary);
  background-color: var(--h3-color);
  border-radius: 2px;

  .heading-collapse-indicator {
    margin-inline-start: calc(-27px);
  }

  .collapse-indicator {
    padding-inline-end: calc(10px) !important;
  }
}

h4,
.markdown-rendered h4,
.HyperMD-header-4,
h5,
.markdown-rendered h5,
.HyperMD-header-5,
h6,
.markdown-rendered h6,
.HyperMD-header-6 {
  &::before {
    display: block;
    width: var(--size-4-6);
    height: 3px;
    margin-block-end: var(--size-4-2);
    content: "";
    background-color: var(--h3-color);
    opacity: 0.3;
  }
}

.markdown-source-view.mod-cm6.is-live-preview {
  .cm-contentContainer > div > .HyperMD-header-2 {
    &:first-child {
      margin-top: 0 !important;
    }

    &:not(:first-child) {
      margin-top: calc(var(--size-4-10) * 0.5) !important;
    }
  }
}

hr {
  margin-block: var(--size-4-6);
}

.internal-link,
.external-link {
  &,
  .markdown-rendered & {
    padding-inline-end: 0;
    background-image: none;
  }
}

del,
.markdown-source-view.mod-cm6.is-live-preview .cm-strikethrough {
  color: var(--strike-color);
}

.cm-em {
  color: var(--italic-color) !important;
}

.footnotes,
.HyperMD-footnote,
.cm-s-obsidian span:is(.cm-footref, .cm-blockid) {
  font-size: var(--font-small);
  line-height: var(--line-height-tighter);
  vertical-align: text-top;
  color: var(--text-faint);
}

::spelling-error {
  text-decoration: wavy var(--color-red) underline;
}
